.book-details-wrapper{
  display: flex;
  justify-content: space-evenly;
}
.book-cover{
  width: 256px;
  height: 400px;
  align-items: center;
  flex-basis: 30%;
}
.book-cover > img{
  height: 100%;
  width: 100%;
  /*max-width: 256px;*/
  margin: 0 auto;
}
.book-details{
  flex-basis: 70%;
}
.book-details, .book-cover{
  margin: 20px;
  min-height: 400px;
}
.price{
  font-size: 24px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.price > i:before {
  font-size: 36px;
  color: orangered;
  margin-right: 10px;
}
mat-card{
  height: 100%;
}
mat-card-subtitle{
  display: flex;
  align-items: center;
  margin: 5px;
}
mat-icon{
  margin-right: 10px;
}
mat-card-content > p {
  text-align: justify;
}
mat-card-content, mat-card-actions{
  padding: 10px;
}
