<div class="book-details-page">
	<br>
	<mat-card class="book-details">
		<img mat-card-image src="../../assets/images/cover_photo.jpg" alt="Photo of a Shiba Inu">
		<h2>{{bookDetails.title}}</h2>
		<h2></h2>
		<p>{{bookDetails.description}}</p>
		<button mat-raised-button color="primary" (click)="openSampleChapterDialog()">Show Sample Chapter</button>
		<button mat-raised-button color="primary" *ngIf=!isPurchase() (click)="purchase()">Purchase</button>
		<button mat-raised-button color="primary" *ngIf=isPurchase() routerLink="/download">Download</button>
	</mat-card>
</div>