.example-card {
  max-width: 1000px;
  margin: auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
h1{
    text-align: center;
}
.mat-card-footer{
    text-align: center;
    padding: 20px;
}

.book-details{
  width: 70%;
  margin: auto;
}

.book-details button{
  margin:1%;
}
.book-details img{
  width: 40%;
  height: 100%;
  float: right;
  margin-right: 2%;
  margin-left: 1%;
  margin-top: 1%;
  border:10px solid #ddd;
}

.book-details-page{
  background-image: url('../../assets/images/main_bg.jpeg');
}