/*carousel header*/
.carousel-header{
  text-align: center;
  padding: 10px;
}
/* end carousel header*/

/*carousel controls*/
.card-wrapper{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.card{
  flex-basis: 30%;
  margin: 0 10px;
  opacity: 1;
  max-width: 230px;
  transition: .5s ease;
  box-shadow: 0 0 10px 0 lightslategrey;
}
.description {
  opacity: 0;
  position: absolute;
  text-align: justify;
  transition: .5s ease;
  padding: 10px;
  color: white;
  height: 100%;
}
.card:hover{
  margin-top: -10px;
}
.card:hover .description{
  background-color: rgba(0,0,0,0.7);
  opacity: 1;
}
/* .card img{
  margin: 0 auto;
  height: 300px;
  width: 100%;
} */
.card-title, .card-text{
  color: black;
}
/* end carousel controls*/

/*our programs*/
.our-programs-header{
  text-align: center;
  padding: 10px 100px;
}
.reader, .author, .editor, .designer{
  height: 600px;
  position: relative;
  /*padding: 20px;*/
  overflow: hidden;
}
.user-image{
  flex-shrink: 0;
  min-height: 100%;
  min-width: 100%;
  margin: 0 auto;
  border-radius: 25px;
}
.reader-text h4, .author-text h4 {
  margin-bottom: 10px;
}
.reader-text{
  position: absolute;
  top: 60px;
  left: 100px;
  width: 40%;
}
.author-text{
  position: absolute;
  top: 60px;
  right: 100px;
  width: 40%;
  color: white;
}
.designer-text{
  position: absolute;
  top: 260px;
  right: 100px;
  width: 40%;
}
/*end our programs*/

/*our authors*/
.our-authors{
  justify-content: center;
}
.our-authors-heading{
  text-align: center;
  padding: 10px 100px;
}
.our-authors-body{
  display: flex;
  padding: 20px;
  justify-content: center;
}
.author-avatar{
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
}
mat-card{
  padding: 10px;
  justify-content: center;
  flex-basis: 33%;
  margin: 0 10px;
  border-color: #d3dbda;
  border-width: 1px;
  border-style: solid;
}
mat-card:hover{
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.568);
  transition: 0.2s;
  /* margin-top: -6px; */
}
mat-card-content{
  text-align: center;
}
/* end our authors*/

.container{
  /*margin: auto;*/
  /* justify-content: center; */
  width: 100%;
  /* background-image: url('../../assets/images/main_bg.jpeg'); */
}

.home-container{
  /* background-color: #1a1a1a; */
  /* background-color: #0a0927; */
/* background-color: #f35445; */
  background-image: url('../../assets/images/side_bg.jpg');
  
}
#cardhere
{
  border: 2px solid rgb(190, 175, 147);
  /* border-radius: 20px; */
  height: 390px;
  width: 200px;
  overflow: visible;
  animation: mymove 5s infinite;
  background-color: #ffc5c8;
  text-transform: uppercase;


}

#cardhere img{
  /* margin: auto; */
}

#cardhere:hover{
  /* margin-top: -10px; */
  background-color: #ff656d;
  opacity: 0.9;
  color: white;

}
#recbox
{
  margin-top:5%;
  width: 100%;
  overflow-x: scroll;

}
.content-cards::-webkit-scrollbar{

  height: 0;
  width: 0;
  color: transparent;
}

@keyframes mymove {
  from {
    /* left: 0%; */
    right: 100%;
  }

  to {
    /* left: 100%; */
    right: 0%;
  }
}
.trending-books{
  padding: 3%;
  color: rgb(15, 15, 15);
  /* text-shadow: 4px 4px #333333; */
  background-image: url('../../assets/images/trend.jpg');
  background-repeat: initial;
  font-weight: bold;
  text-transform: uppercase;
  outline: 1px solid rgb(26, 26, 26);
  outline-offset: -15px;
  letter-spacing: 20px;
}

.home-body{
  color: white;
  font-family: 'Quicksand', sans-serif ;
}

 h3{
  font-family: 'Quicksand', sans-serif ;
  
 }

 .programs{
   padding: 3%;
 }

 .author-card{
  background-image: url('../../assets/images/trend1.jpg');
  color: black;
 }
 

 .author-subtitle{
   color: black;
 }

 .content-card{
  margin: 1%;
  background-color: rgb(26, 26, 26);
  height: 100%;
  animation: mymove 10s infinite;
}

.content-card img{
  width: 100%;
  height: 100%;
}

.content-card h6{
  width: 200px;
}

.card-width{
  width: 200px;
}

.content-cards{
  display: flex;
  overflow-x: scroll;
}

 .our-programs-body{
   color:black;
 }

 /* .author{
  outline: 5px solid white;
  outline-offset: -30px;
 } */

 

 @media only screen and (max-width: 600px) {
  .our-authors-body{
    display: block;
  }

  .our-programs img{
    width: 100%;
  }

  .home-body{
    width: 100%;
  }

  .testimonies{
    margin: 5%;
    letter-spacing: 10px;
  }

  .our-programs-header{
    text-align: center;
    padding: 0%;
  }

  .our-authors-heading{
    text-align: center;
    padding: 0%;
  }


  .reader-text h4, .author-text h4 {
    margin-bottom: 10px;
  }
  .reader-text, .author-text, .designer-text{
    position: relative;
    top: 0px;
    left:0px;
    width: 100%;
    padding: 3%;
    margin-bottom: 1%;
    background-color: #ff8c94;
    border-radius: 25px;
  }

  .user-image{
    display: none;
  }
}