#recbox
{
  margin-top:5%;
  width: 100%;
  overflow-x: scroll;

}
#recbox::-webkit-scrollbar{

  height: 0;
  width: 0;
  color: transparent;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 100%;}
}
@keyframes mymovee {
  from {left: 100%;}
  to {left: 0px;}
}
#cardhere:hover{
  margin-top: -10px;
  background-color: rgba(0,0,0,0.7);
  opacity: 0.9;
}

h1,h2,h3,h4{
  margin: 2% 2% 2% 2%;
  text-align: center;
  word-wrap: break-word;
}

#cardhere
{
  border: 2px solid rgb(190, 175, 147);
  border-radius: 20px;
  height: 390px;
  width: 200px;
  overflow: visible;
  animation: mymove 5s infinite;

}

#cardheret
{
  border: 2px solid rgb(190, 175, 147);
  border-radius: 20px;
  height: 390px;
  width: 200px;
  overflow: visible;
  animation: mymovee 5s infinite;

}
