<div class="edit-profile-page">
<br><br>
<mat-card>
              <mat-vertical-stepper  #stepper>
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Fill out your details</ng-template>
                        <div>
                          <mat-form-field class="fields">
                            <input #firstname formControlName="firstName" matInput placeholder="First Name" class="col">
                          </mat-form-field>
                        </div>
              
                        <div>
                          <mat-form-field class="fields">
                            <input #lastname formControlName="lastName" matInput placeholder="Last Name" class="col">
                          </mat-form-field>
                        </div>
              
                        <div>
                          <mat-form-field class="fields">
                            <input #email formControlName="email" matInput placeholder="Email" class="col">
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field class="fields">
                            <input #contact formControlName="contact" matInput placeholder="Phone Number" class="col">
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field class="fields">
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender" [(value)]="gender">
                              <mat-option value="Female">Female</mat-option>
                              <mat-option value="Male">Male</mat-option>
                              <mat-option value="Other">Other</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
              
                        <div>
                          <mat-form-field class="fields">
                            <input formControlName="date" matInput [matDatepicker]="dob" placeholder="Date of birth" #date>
                            <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                            <mat-datepicker #dob></mat-datepicker>
                          </mat-form-field>
                        </div>
              
                        <div>
                          <mat-form-field class="fields">
                            <input formControlName="nationality" #nationality matInput placeholder="Nationality" class="col">
                          </mat-form-field>
                        </div>
              
                        <div>
                          <mat-form-field class="fields">
                            <input #address1 formControlName="address1" matInput placeholder="Address" class="col">
                          </mat-form-field>
                        </div>
              
                        <div>
                          <mat-form-field class="fields">
                            <input #address2 formControlName="address2" matInput placeholder="State" class="col">
                          </mat-form-field>
                        </div>
              
                        <div>
                          <mat-form-field class="fields">
                            <input #address3 formControlName="address3" matInput placeholder="Country" class="col">
                          </mat-form-field>
                        </div>
              
                        <div>
                          <button mat-button  class="back-button" matStepperPrevious>Back</button>
                          <button mat-button  matStepperNext
                                  (click)="addPersonalDetails(firstname.value, lastname.value, nationality.value, address1.value, address2.value, address3.value, email.value, contact.value, date.value)">
                            Next
                          </button>
                        </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Tell us your Interests</ng-template>
                    <mat-radio-group class="genre-radio-group">
                        <h5>Genre:</h5>
                        <mat-checkbox #checkbox class="genre-radio-buttons" *ngFor="let genre of genres" (click)="checkValue(genre,checkbox.checked)">{{genre}}</mat-checkbox>
                        <br>
                        <mat-checkbox #checkbox (click)="checkValue('Biography',checkbox.checked)">Biography</mat-checkbox>
                        <mat-checkbox #checkbox (click)="checkValue('Autobiography',checkbox.checked)">Autobiography</mat-checkbox>
                    </mat-radio-group>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext (click)="saveInterests()">Save</button>
                    </div>
                  </form>
                </mat-step>
              </mat-vertical-stepper>
              
</mat-card>
<br><br>
</div>