.login-dialog{
    outline: 2px solid white;
    outline-offset: -8px;
    color: black;
    text-shadow: 1px 1px rgb(15, 15, 15);

}

.login-heading{
    align-content: center;
}

form{
    background-image: url('../../assets/images/trend1.jpg');
}