<div style="background-image: url('../../assets/images/hero_1.jpg');" class="container-fluid"  id="illustrator-section">
    <br>
    <b><h1 style = "color:white" class="text-center mb-3">My Dashboard</h1></b>
    
    <div class="book-cards">
    <mat-card>
        <mat-card-title>Book 1</mat-card-title>
        <mat-card-subtitle>Author</mat-card-subtitle>
        <mat-card-subtitle>Book ID</mat-card-subtitle>
        <mat-card-actions>
                <button (click)="editDialog()" mat-button>Edit</button>
        </mat-card-actions>
        <br>
    </mat-card>
    <br>
  
    </div> 
      <br>
  </div>
