<mat-paginator [length]="books.length"
               style="background: transparent"
               [pageSize]="size"
               [pageSizeOptions]="[20]"
               (page)="pageEvent = pageChanged($event)">
</mat-paginator>
<mat-grid-list [cols]="getCol()" rowHeight="300px" *ngIf="pageEvent" class="all-books">
  <mat-grid-tile rowspan="1" colspan="1" *ngFor="let book of bookData, index as i" (click)="bookDetails(book.id)">
    <mat-card class="book-card" >
      <mat-card-content>
        <img class="book-cover" src="https://convertedbooks.s3.ap-south-1.amazonaws.com/{{book.id}}.jpg" alt="card image">
        {{pageEvent.pageIndex}}
        <!-- {{book.id}} -->
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
