<footer>
  <div id="footer-wrapper" class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>About Contently</h3>
        <p>Contently is a platform to find and read high quality, affordable books and to submit your writing.</p>
        <p>We believe in simple, creative and flexible design standards. </p>
      </div>

      <div class="col-md-6 ml-auto">
        <h3>Our Social Links</h3>
        <ul class="list-unstyled list-icon" >
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-reddit-alien"></i></a></li>
        </ul>
        <ul class="list-unstyled list-icon" >
          <li><a mat-button color="accent" routerLink="team">Meet Team</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
