<footer>
  <div id="footer-wrapper" class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>About Contently</h3>
        <p>Contently is a platform to find and read high quality, affordable books and to submit your writing.</p>
        <p>We believe in simple, creative and flexible design standards. </p>
      </div>

      <div class="col-md-3 ml-auto">
        <h3>Links</h3>
        <ul class="list-unstyled footer-links">
          <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h3>Subscribe</h3>
        <p>Subscribe to our weekly email news letter</p>
        <form class="footer-subscribe">
          <div>
            <mat-form-field  style="width: 100%">
              <input matInput type="text" placeholder="Email">
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</footer>
