.profile-details, .contents-under-development, .books-published, .purchases-made{
  width: 80%;
  margin: 10px auto;
}

.info-label > ::ng-deep figure{
  justify-content: flex-end;
  padding: 0 5px;
}

.info-value > ::ng-deep figure {
  padding: 5px;
  justify-content: flex-start;
  position: absolute;
  /*background-color: #0d95e8;*/
}
.info-value-textarea{
  height: 100%;
  width: 100%;
  resize: none;
  background-color: white;
  color: black;
  border-width: 0;
}
.info-value-last > ::ng-deep figure {
  padding: 0 5px;
  justify-content: flex-start;
  bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.list-item-entry > mat-grid-tile{
  /*background-color: blue;*/
}
.list-item-entry:hover{
  background-color: lightgrey;
}
<<<<<<< HEAD

.mat-grid-tile{
  padding: 5px !important;
}

.edit-button{
  border-radius: 25px;
}

.dashboard-wrapper{
  background-image: url('../../assets/images/main_bg.jpeg');
=======
.content-list-last{
  margin-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightslategrey;
>>>>>>> e47ea2e14aed1424ea4d0623460d7f4121426758
}
