<div class="dashboard-wrapper">
  <mat-expansion-panel class="profile-details">
    <mat-expansion-panel-header>
      Profile Details
    </mat-expansion-panel-header>
    <mat-card *ngIf="profileLoaded">
      <mat-card-content>
        <mat-grid-list cols="4" rowHeight="2em">
          <mat-grid-tile [colspan]="1" class="info-label"><strong>First Name: </strong></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.firstName}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"><strong>Last Name: </strong></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.lastName}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"><strong>Gender: </strong></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.gender}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"><strong>E-mail: </strong></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.email}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"><strong>Phone Number: </strong></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.phoneNumber}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"><strong>Nationality: </strong></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.nationality}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"><strong>Address: </strong></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.addressLine1}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.addressLine2}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.addressLine3}}</mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a mat-raised-button color="primary" routerLink="#">Edit Profile</a>
      </mat-card-actions>
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel class="contents-under-development">
    <mat-expansion-panel-header>
      Current Projects
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <mat-grid-list cols="4" rowHeight="3em" *ngIf="contentsLoaded">
          <div class="list-item-entry" *ngFor="let content of contentsList; index as i">
            <mat-grid-tile class="info-value" colspan="3" rowspan="1"><h5>{{content.title}}</h5></mat-grid-tile>
            <mat-grid-tile class="info-value" colspan="1" rowspan="1">{{content.type}}</mat-grid-tile>
            <mat-grid-tile class="info-value" colspan="1" rowspan="1"><strong>Editor : </strong>{{content.designerName}}
            </mat-grid-tile>
            <mat-grid-tile class="info-value" colspan="1" rowspan="1"><strong>Designer
              :</strong>{{content.designerName}}</mat-grid-tile>
            <mat-grid-tile class="info-value" colspan="1" rowspan="1"><strong>Created On :</strong>{{content.createdAt}}
            </mat-grid-tile>
            <mat-grid-tile class="info-value" colspan="1" rowspan="1">{{content.genre}}</mat-grid-tile>
            <mat-grid-tile class="info-value" colspan="4" rowspan="1">{{content.description}}</mat-grid-tile>
            <mat-grid-tile class="info-value" colspan="4" rowspan="1"><button mat-raised-button color="primary" (click)="edit(i)">Edit</button></mat-grid-tile>
          </div>
        </mat-grid-list>
        <p *ngIf="!contentsLoaded">You have no Current projects. </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions *ngIf="ifAuthor()">
        <a mat-raised-button color="primary" routerLink="/contentLayout">Start Creating</a>
      </mat-card-actions>
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel class="books-published">
    <mat-expansion-panel-header>
      Published Books
    </mat-expansion-panel-header>

  </mat-expansion-panel>
  <mat-expansion-panel class="purchases-made">
    <mat-expansion-panel-header>
      Purchases
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</div>
