<div class="dashboard-wrapper">
  <mat-expansion-panel class="profile-details">
    <mat-expansion-panel-header>
      Profile Details
    </mat-expansion-panel-header>
    <mat-card *ngIf="profileLoaded">
      <mat-card-content>
        <mat-grid-list cols="4" rowHeight="2em">
          <mat-grid-tile [colspan]="1" class="info-label"><strong>First Name: </strong></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.firstName}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"><strong>Last Name: </strong></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.lastName}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"><strong>Gender: </strong></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.gender}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"><strong>E-mail: </strong></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.email}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"><strong>Phone Number: </strong></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.phoneNumber}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"><strong>Nationality: </strong></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.nationality}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"><strong>Address: </strong></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.addressLine1}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.addressLine2}}</mat-grid-tile>

          <mat-grid-tile [colspan]="1" class="info-label"></mat-grid-tile>
          <mat-grid-tile [colspan]="3" class="info-value">{{ profileData.addressLine3}}</mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a mat-raised-button color="primary" (click)="editProfile()">Edit Profile</a>
      </mat-card-actions>
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel class="contents-under-development">
    <mat-expansion-panel-header>
      Current Projects
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <mat-grid-list rowHeight="40px" cols="3">
      <div class="content-list" *ngFor="let content of contentsList, index as i">
<!--        <mat-grid-tile class="info-value content-list-last" colspan="1" rowspan="6"></mat-grid-tile>-->

        <mat-grid-tile class="info-value" colspan="3" rowspan="1"><strong>{{content.title}}</strong></mat-grid-tile>

        <mat-grid-tile class="info-value" colspan="2" rowspan="1">{{content.authorName}}</mat-grid-tile>
        <mat-grid-tile class="info-value" colspan="1" rowspan="1">{{content.typeName}} ,
          &nbsp; {{content.genres}}</mat-grid-tile>

        <mat-grid-tile class="info-value" colspan="1" rowspan="1">{{content.editorName}}</mat-grid-tile>
        <mat-grid-tile class="info-value" colspan="1" rowspan="1">{{content.designerName}}</mat-grid-tile>
        <mat-grid-tile class="info-value" colspan="1" rowspan="1">{{content.createdAt}}</mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <textarea class="info-value-textarea" disabled>{{content.description}}</textarea>
        </mat-grid-tile>

        <mat-grid-tile class="info-value content-list-last" colspan="3" rowspan="1">
          <button mat-raised-button color="primary" (click)="edit(i)">Edit</button>
        </mat-grid-tile>
      </div>
      <mat-grid-tile colspan="3" rowspan="1" *ngIf="ifAuthor()">
        <a mat-raised-button color="primary" routerLink="/contentLayout">New Content</a>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>

  <mat-expansion-panel class="books-published">
    <mat-expansion-panel-header>
      Published Books
    </mat-expansion-panel-header>
    <div *ngFor="let content of contentsList, index as i">
      <!--        <mat-card-content>-->
      <mat-grid-tile class="info-value" colspan="1" rowspan="5"></mat-grid-tile>

      <mat-grid-tile class="info-value" colspan="3" rowspan="1">{{content.title}}</mat-grid-tile>

      <mat-grid-tile class="info-value" colspan="2" rowspan="1">{{content.authorName}}</mat-grid-tile>
      <mat-grid-tile class="info-value" colspan="1" rowspan="1">{{content.typeName}} ,
        &nbsp; {{content.genres}}</mat-grid-tile>

      <mat-grid-tile class="info-value" colspan="1" rowspan="1">{{content.editorName}}</mat-grid-tile>
      <mat-grid-tile class="info-value" colspan="1" rowspan="1">{{content.designerName}}</mat-grid-tile>
      <mat-grid-tile class="info-value" colspan="1" rowspan="1">{{content.createdOn}}</mat-grid-tile>

      <mat-grid-tile class="info-value" colspan="3" rowspan="1">{{content.description}}</mat-grid-tile>

      <mat-grid-tile class="info-value" colspan="3" rowspan="1">
        <button>Edit</button>
      </mat-grid-tile>
      <!--        </mat-card-content>-->
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="purchases-made">
    <mat-expansion-panel-header>
      Purchases
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</div>
